-e git+http://git.direct-netware.de/pas/file_center/#egg=pas_file_center
-e git+http://git.direct-netware.de/pas/http/datalinker/#egg=pas_http_datalinker
-e git+http://git.direct-netware.de/pas/tasks/#egg=pas_tasks